{{> 'systems/anarchy/templates/roll/parts/parameter-label.hbs' this}}
{{#if flags.editable}}
<input class="parameter-value info-value type-numeric input-select-parameter"
  type="number" data-dtype="Number" maxlength="2" 
  min="{{either min 0}}"
  max="{{either max 5}}"
  value="{{either value 0}}"/>
{{else}}
<label class="parameter-value info-value">
  {{numberFormat (either value 0) decimals=0 sign=false}}
</label>
{{/if}}
{{#if flags.optional}}
<input class="parameter-selection check-optional" type="checkbox" {{checked used}} />
{{/if}}
