<div class="attribute-box secondary-attribute">
  <label for="system.handling">{{localize ANARCHY.actor.vehicle.handling}}</label>
  <input type="number" data-dtype="Number" maxlength="2"
    name="system.handling" value="{{system.handling}}" 
  />
</div>
<div class="attribute-box secondary-attribute">
  <label for="system.moves">{{localize ANARCHY.actor.vehicle.moves}}</label>
  <input type="number" data-dtype="Number" maxlength="2"
    name="system.moves" value="{{system.moves}}" 
  />
</div>
<div class="attribute-box secondary-attribute">
  <label for="system.attacks">{{localize ANARCHY.actor.vehicle.attacks}}</label>
  <input type="number" data-dtype="Number" maxlength="2"
    name="system.attacks" value="{{system.attacks}}" 
  />
</div>
<div class="attribute-box secondary-attribute">
  <label for="system.stealth">{{localize ANARCHY.actor.vehicle.stealth}}</label>
  <input type="number" data-dtype="Number" maxlength="2"
    name="system.stealth" value="{{system.stealth}}" 
  />
</div>
