<li class="define-item-type item anarchy-weapon {{#if system.inactive}}inactive{{/if}}" draggable="true"
    data-item-id="{{_id}}" data-item-type="weapon">
  <div class="weapon-column weapon-img">
    <a class="click-weapon-roll">
      <img class="anarchy-img item-img" src="{{img}}" alt="{{name}}" data-tooltip="{{name}}"/>
    </a>
  </div>
  <div class="weapon-column weapon-txt">
    <a class="click-weapon-roll">{{name}}</a>
    {{>'systems/anarchy/templates/actor/character/description.hbs' description=system.description}}
  </div>
  <div class="weapon-column weapon-dmg">
    {{> 'systems/anarchy/templates/common/damage-code.hbs'
      damageAttribute=system.damageAttribute
      actorAttribute=(actorAttribute system.damageAttribute @root.actor this)
      damage=system.damage
      monitor=system.monitor
      armor=(weaponArmorMode system.monitor system.noArmor)
    }}
  </div>
  <div class="weapon-column weapon-stat">
    {{localize (concat 'ANARCHY.area.' (either system.area 'none'))}}
  </div>
  <div class="weapon-column weapon-stat">
    {{either system.range.short 'OK'}}
    </div>
  <div class="weapon-column weapon-stat">
    {{#unless (eq system.range.max "short")}}
    {{either system.range.medium 'OK'}}
    {{/unless}}
  </div>
  <div class="weapon-column weapon-stat">
    {{#if (eq system.range.max "long")}}
    {{either system.range.long 'OK'}}
    {{/if}}
  </div>
  <div class="weapon-column weapon-controls item-controls">
    {{> 'systems/anarchy/templates/common/favorite.hbs'
      isFavorite=(actorHasFavorite @root.actor.id id=_id type=type)
      weapon=this
    }}
    {{> 'systems/anarchy/templates/common/item-controls.hbs'}}
  </div>

</li>
